@model TripServiceModel

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Price">Price:</label>
            <input asp-for="Price" class="form-control" placeholder="0">
            <span asp-validation-for="Price" class="small text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="TimeOfDeparture">Time of departure:</label>
            <input asp-for="TimeOfDeparture" class="form-control" value="@DateTime.UtcNow">
            <span asp-validation-for="TimeOfDeparture" class="small text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="MaxPassengers">Max Passengers:</label>
            <input asp-for="MaxPassengers" class="form-control" placeholder="0">
            <span asp-validation-for="MaxPassengers" class="small text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="FromCityId">From City:</label>
            <select asp-for="FromCityId" class="form-control">
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <span asp-validation-for="FromCityId" class="small text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ToCityId">To City:</label>
            <select asp-for="ToCityId" class="form-control">
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <span asp-validation-for="ToCityId" class="small text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="CarId">Car:</label>
            <select asp-for="CarId" class="form-control">
                @foreach (var car in Model.Cars)
                {
                    var carName = car.Brand + ' ' + car.Model + ' ' + car.Year;
                    <option value="@car.Id">@carName</option>
                }
            </select>
            <span asp-validation-for="CarId" class="small text-danger"></span>
        </div>
    </div>
    @if (ViewBag.Editing == true)
    {
        <button type="submit" class="btn btn-success">Edit</button>
    }
    else
    { 
        <button type="submit" class="btn btn-success">Add</button>
    }

</form>